.form {
  display: flex;
  flex-direction: column;
}

.btnForm {
  margin-top: 15px;
  width: 170px;
  height: 25px;
  background-color: aquamarine;
  box-shadow: 0 10px 5px -6px #888888;
  transition: 0.3s;
}

.btnForm:hover {
  background-color: blueviolet;
  color: beige;
}
