.list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 0;
  font-size: 18px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  font-weight: 600;
  transition: 0.3s;
}

.item:nth-child(odd) {
  background-color: rgb(185, 255, 255);
  border-bottom: 2px solid #888888;
}

.item:hover {
  background-color: rgba(228, 238, 238, 0.87);
}
.btnForm {
  margin-left: 10px;
  max-width: 70px;
  background-color: rgb(248, 192, 236);
  box-shadow: 0 10px 5px -6px #888888;
  height: 20px;
  transition: 0.3s;
}

.btnForm:hover {
  background-color: blueviolet;
  color: beige;
}
